body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}

.top {
    background-color: #1F2937;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
}

.header {
    display: flex;
    margin: 0px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    margin-right: auto;
    align-items: center;
}

ul.header {
    color: #E5E7EB;
    font-size: 18px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 24px;
    align-items: center;
}

h1 {
    color: #F9FAF8;
    font-weight: bolder;
}

p#firstp {
    color: #E5E7EB;
    font-size: 18px;
}

.buttoncontainer {
    display: flex;
    flex-direction: column;
    margin-right: 24px;
    max-width: 600px;
}

img[src^=mrpoop] {
    display: flex;
    width: 400px;
}

.topcontent {
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
}

button {
    width: 100px;
    color: white;
    background-color: #3882F6;
    border-radius: 8px;
    border-style: solid;
}

#poophere {
    border-color: #3882F6;
}

.uppermiddle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.imgcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px;
}

.text {
    width: 175px;
    margin: 12px;
}

img {
    width: 200px;
    border-radius: 8px;
    border: 2px #3882F6;
}

.info {
    display: flex;
    flex-direction: column;
}
.lowermiddle {
    background-color: #E5E7EB;
    color: #1F2937;
    font-style: italic;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.quote-container {
    max-width: 700px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

#quote {
    margin-right: auto;
    font-size: 24px;
}

#poopyname {
    margin-left: auto;
    font-size: 24px;
}

.bottom {
    display: flex;
    justify-content: center;
    align-content: center;
}

.calltoaction {
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    flex: 1;
    margin: 50px 300px 50px 300px;
    padding: 50px 100px 50px 100px;
    justify-content: center;
}

.actiontext {
    color: #E5E7EB;
    font-size: 14px;
    min-width: 150px;
}

#action {
    border-color: #E5E7EB;
    flex: 0 1 auto;
    height: 25px;
    align-self: center;
    margin-bottom: 16px;
    margin-left: 30px;
    min-width: 100px;
}

#timetopoop {
    font-weight: 900;
    font-size: 18px;
    margin: 0;    
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 15px;
}

#timetopoop,
#testerz {
    margin: 0;
}